//
// Site-wide global styles
// --------------------------------------------------

body { padding-top: 70px; }

.list-group-sub .list-group-item {
  padding: 10px 30px 10px 30px;
}

.content {
    // Fix layout of form items
    .form-horizontal {
        margin: 0 15px;
        & > p {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}